.product-container{
    height: fit-content;
    width: 900px;
    margin: 0 5%;
    padding: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    gap: 9%;
}

.product-buttons{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;;
}

.product-name{
    font-size: 40px;
    font-weight: 600;
    margin:0;
    height: auto;
}

.product-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-description{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-detail{
    color: rgb(49, 49, 48);
    height: auto;
}

.buttons{
    height: 40px;
    height: 40px;
    font-family: Inter;
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
}

.button-product-1{
    width: 30%;  
}

.button-product-2{
    width: 60%;
    background-color: #F28407;
}

.button-product-2:hover{
    opacity: .7;
}

.company-label{
    font-weight: 700;
    color: #F28407;
}

.all-images{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.side-image{
    width: 68px;
    height: 68px;
    border-radius: 5%;
}

.side-image:hover{
    opacity: .6;
    border: solid #F28407 1px;
}

.focus-image{
    height: 330px;
    width: 350px;
    border-radius: 3%;
}

@media (max-width: 900px) {
    .product-container {
        width: auto;
        margin: 0 2%;
    }
  }